<div>
    <nav class="navbar navbar-expand bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <img class="logo" src="../../../assets/img/APLogo-20-20.png" alt="logo argentina_programa">
            <div class="text-end">
                <ul class="navbar-nav mb-2">
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/absss03">
                            <i class="fa-brands fa-github fa-lg"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="mailto:barbieriabigailok@gmail.com">
                            <i class="fa-solid fa-envelope fa-lg"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.instagram.com/eibi___/">
                            <i class="fa-brands fa-instagram fa-lg"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <button *ngIf="!estadoService.logueado" class="nav-link btn btn-dark" data-bs-toggle="modal" data-bs-target="#loginModal">Login 
                            <i class="fa-solid fa-right-to-bracket fa-lg"></i>
                        </button>
                        <button *ngIf="estadoService.logueado" class="nav-link btn btn-dark" (click)="logout()">Logout 
                            <i class="fa-solid fa-right-to-bracket fa-lg"></i>
                        </button>
                    </li>
                </ul>

            </div>
        </div>
    </nav>  
</div>    