<div class="container">
    <form name="editarProyecto" #editarProyecto="ngForm">
      <div class="form-group">
        <fieldset [disabled]="true">
            <label for="titulo">Titulo del Proyecto</label>
            <input
            type="text"
            class="form-control"
            id="titulo"
            required
            [(ngModel)]="model.tituloProyecto"
            name="titulo"
            #titulo="ngModel"
            />
            <label for="proyecto">Descripcion del Proyecto</label>
            <textarea
            type="textarea"
            class="form-control"
            id="proyecto"
            required
            [(ngModel)]="model.descripcionProyecto"
            name="proyecto"
            #proyecto="ngModel"
            ></textarea>
        </fieldset>
        <hr>
        <div class="editar text-end">
            <button (click)="onSubmit()" type="submit" class="button">
                <fa-icon icon="trash-can" class="fa-solid fa-2xl"></fa-icon>
            </button>
            <button (click)="onCancel()" type="button" class="button">
                <fa-icon icon="square-xmark" class="fa-solid fa-2xl"></fa-icon>
            </button>
        </div>
      </div>
    </form>
  </div>
  
  
