<div class="container-fluid">
    <div class="experiencia rounded-4">
        <div class="eperiencia" >
            <h1>Experiencia</h1>
            <div *ngFor="let experiencia of experiencia">
                <h5>{{experiencia.empresa}}</h5>
                <p>{{experiencia.texto}}</p>
                <div class="editar text-end">
                    <i class="fa-solid fa-pen-to-square fa-lg"></i>
                    <i class="fa-solid fa-xmark fa-lg m-2"></i>
                </div>
            </div>
        </div>
    </div>
</div>