.experiencia{
    background-image: linear-gradient(to top right,rgb(153, 84, 63), rgb(81, 64, 99));
    padding: 40px;
    height: 50%;
    margin-top: 2%;
    margin-left:6%;
    margin-right: 6%;
}

.editar{
    margin-bottom: 2rem;
}