
<div class="modal fade" id="editPersona" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Editar Persona</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form [formGroup]="form" (ngSubmit)="onEnviar($event)">
                <div class="modal-body text-end">
                    <div class="text-start m-2">
                    <label class="form-label">Presentacion Personal</label>
                    <textarea class="form-control" formControlName="introduccion" [(ngModel)]="introduccion" rows="3">introduccion</textarea>
                    </div>
                    <div class="text-start m-2">
                        <label class="form-label">Example textarea</label>
                        <textarea class="form-control" formControlName="fotoperfil" [(ngModel)]="fotoperfil" rows="3">{{data-id}}</textarea>
                    </div>
                    <button type="submit" class="btn btn-secondary btn-round mt-2">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
