<div class="container-fluid">
    <div class="personal">
        <img src="{{fotoperfil}}" class="perfil rounded-circle rounded-bottom-3 " alt="{{nombre}}">
        <!-- <p class="sobre-mi">{{texto}}</p> -->
        <p class="sobre-mi">{{introduccion}}</p>
        <div *ngIf="esUsuario" class="editar text-end">
            <button class="boton">
                <i class="fa-solid fa-pen-to-square fa-lg" data-bs-toggle="modal" data-bs-target="#editModal"></i>
            </button>
            <button class="boton" >
                <i class="fa-solid fa-xmark fa-lg m-1"></i>
            </button>
            <button>
                <i class="fa-solid fa-plus fa-lg"></i>
            </button>
        </div>
    </div>
</div>
