<section id="personal">
    <div class="container-fluid" >
        <img src="../../../assets/img/yo.jpg" class="perfil rounded-circle rounded-bottom-3 " alt="foto-perfil">
        <p class="sobre-mi">Mi nombre es Abigail Barbieri, nací y me crié en Bariloche. <br> Tengo curiosidad por la tecnologia y pasion por el arte.<br> Me egrese de la secundaria en 2021 y mi formación académica es en Ingenieria en Computacion, actualmente estudiando en la Universidad Nacional de Rio Negro. 
            <br>Ademas de manera autogestionada estoy realizando el curso de Argentina Programa para certificarme como desarolladora Full Stack.
        </p>
    </div>
</section>