.container-fluid{
    padding-bottom: 5rem;
    margin-bottom: 10px;
}
.personal{
    height: 40%;
}
.perfil{
    transform: translate(30%, -20%);
    position: relative;
    width: 22%;
    height: auto;
    float:left;
}

.sobre-mi{
    position: relative;
    font-weight: 200;
    margin-right: 15%;
    left: 8%;
    color: ivory;
    padding-top: 1%;
    padding-bottom: 2%;
    font-size: 150%;
    font-family: 'Montserrat', sans-serif;
    white-space: pre-wrap;
}

.editar{
    padding-right: 8.5rem;
}

.modal{
    color:dimgray;
}

.boton{
    background-color: transparent;
    color:ivory;
    padding: 0;
}