<div class="container-fluid">
    <img src="{{persona.fotoperfil}}" class="perfil rounded-circle rounded-bottom-3 " alt="{{persona.nombre}}">
    <div *ngIf="!editMode">
        <div *ngIf="estadoService.logueado" class="editar text-end">
            <button [disabled]="estadoService.editando" class="button" (click)="accion('edito')">
                <fa-icon icon="square-pen" class="fa fa-2xl"></fa-icon>
            </button>
            <!-- <button [disabled]="estadoService.editando" class="button" (click)="accion('agrego')">
                <fa-icon icon="square-plus" class="fa fa-2xl"></fa-icon>
            </button>
            <button [disabled]="estadoService.editando" class="button" (click)="accion('borro')">
                <fa-icon icon="square-xmark" class="fa fa-2xl"></fa-icon>
            </button> -->
        </div>
        <div class="personal">
            <p class="sobre-mi">{{persona.introduccion}}</p>
        </div>
    </div>
    <div *ngIf="editMode">
        <app-editar-personal (submit)="onSubmit($event)" [model]="persona"></app-editar-personal>
    </div>
</div>
