<section id="skills">
    <div class="skills text-left">
        <div class="row row-cols-2">
            <div class="col-5">
                <h2>Mis fortalezas</h2>
                <span class="para">{{info}}</span>
            </div>
            <div class="col-7">
                <h2>Mi Stack</h2>
                <div *ngFor="let stack of stack">
                    <div class="barra-progreso" >
                        <span class="titulo">{{stack.lenguaje}}</span>
                        <div class="progress m-1" style="max-width: 100%">
                            <div class="progress-bar progress-bar"
                                [style]="stack.estilo"> {{stack.porcentaje}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>