.skills{
    padding: 8% 4% 8% 4% ;
    margin-left: 30px;
    margin-right: 30px;

}

.progress-bar{
    background-color: rgb(83, 49, 79);
}

.fuerza{
    border: 3px;
    border-color: honeydew;
    white-space: pre-wrap;
}