<div class="container">
    <form name="borrarFormacion" #borrarFormacion="ngForm">
        <div class="form-group">
            <fieldset [disabled]="true">
                <label for="formacion">Formacion</label>
                <input
                type="text"
                class="form-control"
                id="formacion"
                required
                [(ngModel)]="model.institucion"
                name="formacion"
                #formacion="ngModel"
                />
                <label for="descripccionFormacion">Descripccion de la Formacion</label>
                <textarea
                type="textarea"
                class="form-control"
                id="descripccionFormacion"
                required
                [(ngModel)]="model.descripccionFormacion"
                name="descripccionFormacion"
                #descripccionFormacion="ngModel"
                ></textarea>
                <label for="alt">Etiqueta</label>
                <input
                type="text"
                class="form-control"
                id="alt"
                required
                [(ngModel)]="model.alt"
                name="alt"
                #alt="ngModel"
                />
            </fieldset>
            <hr>
            <div class="editar text-end">
                <button (click)="onSubmit()" type="submit" class="button">
                <fa-icon icon="trash-can" class="fa-solid fa-2xl"></fa-icon>
                </button>
                <button (click)="onCancel()" type="button" class="button">
                <fa-icon icon="square-xmark" class="fa-solid fa-2xl"></fa-icon>
                </button>
            </div>
        </div>
    </form>
</div>

