<section id="formacion">
    <h1 class="mt-5 mb-5 text-center">Formacion</h1>
    
    <div class="row row-cols-1 row-cols-md-4 g-4" >
        <div class="col" *ngFor= "let formacion of formaciones">
            <div class="card h-100 ">
                <img src={{formacion.imagen}} class="card-img-top" alt={{formacion.alt}}>
                <div class="card-body text-center">
                    <h5 class="card-title">{{formacion.institucion}}</h5>
                    <p class="card-text">{{formacion.descripccionFormacion}}.</p>
                </div>
                <div *ngIf="esUsuario" class="editar text-end">
                    <i class="fa-solid fa-pen-to-square fa-lg"></i>
                    <i class="fa-solid fa-xmark fa-lg m-2"></i>
                    <i class="fa-solid fa-plus fa-lg"></i>
                </div>
            </div>
        </div>
    </div>    
</section>
