<section id="formacion">
    <h1 class="mt-5 mb-5 text-center">Formacion</h1>
    
    <div class="row row-cols-1 row-cols-md-4 g-4" >
        <div class="col" *ngFor= "let formacion of formacion">
            <div class="card h-100 ">
                <img [src]="formacion.imagen" class="card-img-top" [alt]="formacion.alt">
                <div class="card-body text-center">
                    <h5 class="card-title">{{formacion.institucion}}</h5>
                    <p class="card-text">{{formacion.descripcionFormacion}}.</p>
                </div>
            </div>
        </div>
    </div>    
</section>
