<section id="proyectos">
    <div class="container-fluid">
        <div class="row">
            <h1 class=" mb-4">Mis proyectos</h1>
            <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card h-100" style="background-image: linear-gradient(to top right,rgb(153, 84, 63), rgb(81, 64, 99))">
                    <div class="card-body" style="color: ivory">
                        <h5 class="card-title">Potrfolio/CV web (html+CSS)</h5>
                        <p class="card-text w-75">Maqueta estatica de mi portfolio web como parte del el proyecto final de Argentina Programa</p>
                        <div class="text-end">
                            <a href="#" class="btn btn-light">Hecha un vistazo</a>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card h-100" style="background-image: linear-gradient(to top left,rgb(153, 84, 63), rgb(81, 64, 99))">
                    <div class="card-body" style="color: ivory">
                        <h5 class="card-title">TP final integador (python)</h5>
                        <p class="card-text w-75">"Cajero Automatico" hecho en python como tp integrador de la materia Introduccion a la ingenieria en Computacion</p>
                            <div class="text-end">
                                <a href="#" class="btn btn-light">Hecha un vistazo</a>
                            </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
