<section id="proyectos">
    <div class="container-fluid">
        <div class="row" >
            <h1 class=" mb-4">Mis proyectos</h1>
            <div class="col-6 mb-3 mb-sm-0" *ngFor="let proyectos of proyectos">
                <div>
                    <div class="card h-100" style="background-image: linear-gradient(to top right,rgb(153, 84, 63), rgb(81, 64, 99))" >
                        <div class="card-body" style="color: ivory">
                            <h5 class="card-title">{{proyectos.tituloProyecto}}</h5>
                            <p class="card-text w-75">{{proyectos.descripcionProyecto}}</p>
                            <div class="text-end">
                                <a [href]="proyectos.url" class="btn btn-light">{{proyectos.boton}}</a>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
